@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1420019/pexels-photo-1420019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.home {
    color: #fff;
    width: 80vw;
    text-align: end;
    margin-top: 10px;
    font-size: 14px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.header {
    text-align: center;
    font-size: 70px;
    letter-spacing: 2px;
}
.message {
    margin-top: 30px;
    letter-spacing: 3px;
}
.loader {
    background-color: #fff;
    width: 450px;
    height: 10px;
    margin-top: 15px;
    box-shadow: #030303 5px 5px 10px;
}
.innerloader {
    background-color: rgb(35, 73, 61);
    width: 200px;
    height: 10px;
    z-index: 2;
}

.percent {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    width: 450px;
}

button {
    margin-top: 40px;
    padding: 7px 20px;
    background-color: rgb(35, 73, 61);
    border: none;
    color: rgb(255, 255, 255);
}

.icon {
    display: flex;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.8px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 20px 10px;
}
.line {
    background-color: #acacac;
    width: 70vw;
    height: 0.9px;
    margin-bottom: 10px;
}
.reference {
    color: #cacaca;
    text-align: center;
    font-size: 13px;
}